@font-face {
    font-family: 'kyliefornia';
    src: url('./fonts/kyliefornia-regular-webfont.woff2') format('woff2'),
         url('./fonts/kyliefornia-regular-webfont.woff') format('woff'),
		 url('./fonts/kyliefornia-regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}

body {
	font-family: "kyliefornia";
	text-align: center;
}

div.title {
	width: 100vw;
	height: 20vw;
	background-color: #87cefa;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	font-size: 40px;
}
	
div.userTools, div.help, div.list {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

div.userTools, div.help {
	background-color: #b3e2ff;
}

div.list {
	background-color: #cfeeff;
}

p {
	font-size: 30px;
}

p.listItem:hover, p.completedListItem {
	text-decoration: line-through;
}

p.completedListItem:hover {
	color: red;
}

input {
	text-align: center;
	font-family: kyliefornia;
	font-size: 30px;	
}

#newItem {
	width: 49vw;
	height: 43px;
}

button {
	height: 50px;
	font-family: kyliefornia;
	font-size: 30px;
}

.helpButton {
	width: 80vw;
}

.submitButton {
	width: 30vw;
}

.completeButton, .deleteButton {
	width: 40vw;
}

div.credits {
	background-color: #edf9ff;
	padding-top: 20px;
	padding-bottom: 20px;
}

p.creditsText {
	font-size: 20px;
	color: grey;
}
